{% extends '::base.html.twig' %}
{% block body %}
    <style type="text/css">
        .no-js #loader {
            display: none;
        }

        .js #loader {
            display: block;
            position: absolute;
            left: 100px;
            top: 0;
        }

        .se-pre-con {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url({{ asset('assets/images/preloader.gif') }}) center no-repeat #fff;
        }
    </style>
    <div class="se-pre-con"></div>
    <div class="page-content"></div>
    <div class="row">
        <div class="col-md-12"></div>
    </div>
    <div class="list-group">
        <div id="rss-item-with-comment-mark" style="display: none;">
            <div href="#" class="list-group-item" style="margin-bottom: 1%">
                <a class="list-group-item-heading-link"><h4 class="list-group-item-heading"></h4></a>
                <h5 class="published-at"></h5>
                <p class="list-group-item-text"></p>
                <br>
                <a class="add-comment" data-toggle="modal" data-target="#comment-form">Оставить комментарий</a>
            </div>
            <div class="media" id="comment" style="margin-bottom: 1%">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                </a>
                <div class="media-body">
                    <h4 class="media-heading"></h4>
                    <small class="comment-date"></small>
                    <span class="comment-body">

                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="comment-form">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal comment">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Оставить комментарий</h4>
                    </div>
                    <div class="modal-body">

                        <fieldset>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="textinput">E-mail</label>
                                <div class="col-md-4">
                                    <input id="email" name="email" type="email" placeholder=""
                                           class="form-control input-md" required="">
                                    <span class="help-block">Обязательное поле</span>
                                </div>
                            </div>

                            <!-- Textarea -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="comment-field">Комментарий</label>
                                <div class="col-md-4">
                                    <textarea class="form-control" id="comment-field" name="comment-field"></textarea>
                                </div>
                            </div>
                            <input type="hidden" class="related-element" name="relatedElement" value="0">
                        </fieldset>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary submit-btn">Сохранить</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/app.js') }}"></script>
{% endblock %}